<a href="https://colab.research.google.com/github/Yogesh25082004/HTML-Project/blob/main/Python_simple_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
a = 10
b = 10

print(f"The sum is {a+b}")

print("Hello, world")

The sum is 20
Hello, world

In [8]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

print(factorial(5))

120

In [11]:
def fibonacci(n):
  sequence = [0,1]
  while(len(sequence)<n):
    sequence.append(sequence[-1]+sequence[-2])
  return sequence

fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [14]:
def check_even_odd(n):
  if n%2 == 0:
    print(f"{n} is even")
  else:
    print(f"{n} is odd")

check_even_odd(10)

10 is even

In [15]:
def reverse_list(lst):
  return lst[::-1]

my_list = [1,2,3,4,5]
print(my_list)
print(reverse_list(my_list))

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]